/* --- CONVERSION A REM Y VH/VW LISTA --- */

@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
}
.page-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.mobile-title{
    display:none;
}
.form{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
}
.input-btns{
    flex-direction: row;
}
.asterisk{
    color: #A61A14;
}
.mail{
    color: #3E3E3C;
    font-size: 0.75;
    margin-bottom: 0.6rem;
}
/* .num-code{
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    padding-right: 9px;
} */
.input-space{
    width: 183px;
    height: 32px;
    color: 706E6B;
    border: #DDDBDA 1px solid;
    border-radius: 0.25rem;
    padding-left: 0.5%;
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    margin-right: 0.5rem;
    outline: none;
}
.num-label{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.number-input{
    width: 183px;
    height: 32px;
    color: #706E6B;
    border: #DDDBDA 1px solid;
    border-radius: 0.25rem;
    padding-left: 0.5rem;
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    margin-left: 0.5rem;
    outline: none;
}
.button1{
    background-color: #FFFFFF;
    border: #DDDBDA 1px solid;
    border-radius: 0.25rem;
    width: 32px;
    height: 32px;
    margin-right: 1.5rem;
}
.button2{
    background-color: #D00E2A;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    width: 135px;
    height: 32px;
    margin-left: 1.5rem
}
.button2 .active-button2{
    display: none;
}
.active-button2:enabled{
    display: none;
}
.button2:disabled{
    background-color: #FFFFFF;
    color: #D00E2A;
    /* align-content: center; */
    border: #DDDBDA 1px solid;
    border-radius: 4px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    width: 169px;
    height: 32px;
}
.button2:disabled .active-button2{
    width: 16px;
    height: 16px;
    display: none;
    margin-left: 8.4rem;
    margin-top: 1.1rem;
}
.code-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: #888888 1px solid;
    border-radius: 0.6rem;
    font-family: 'Nunito', sans-serif;
    width: 448px;
    height: 333px;
    margin-top: 2rem;
    padding: 2.4rem 2.8rem 1.6rem 2.8rem;
}
.icon-text{
    display:flex;
    flex-direction: row;
    color: #333333;
    font-size: 0.875rem;
    font-weight: 500;
    padding-bottom: 2rem;
}
.num-weight{
    font-weight: 600;
}
.icon2{
    width: 64px;
    height: 64px;
    margin-right: 2.25rem;
}
.error-message{
    display:none;
    font-family: 'Nunito', sans-serif;
    font-size: 0.75rem;
    color: #000000;
}
.text-mistake{
    display: none;
    font-family: 'Nunito', sans-serif;
    font-size: 0.75rem;
    color: #000000;
    margin-left: 15.5rem;
    margin-top: 0.3rem;
}
.active-button3{
    display: none;
}
.codes{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.25rem;
}
.code-input{
    width: 48px;
    height: 48px;
    border: #888888 1px solid;
    border-radius: 0.25px;
    font-size: 2.125rem;
    font-weight: 600;
    /* text-align: center; */
    padding-left: 0.75rem;
    outline: none;
}
.final-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.text2{
    color: #333333;
    font-size: 0.75rem;
    font-weight: 500;
}
.button-justify{
    display: flex;
    justify-content: flex-end;
}
.button3{
    width: 154px;
    height: 32px;
    background-color: #C9C7C5;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    /* position: absolute; */
    margin-top: 0.6rem;
}
.button3:enabled{
    background-color: #D00E2A;
}
button.button3:active {
    background-color: #D00E2A;
}
button.button3:active {
    background-color: #D00E2A;
}
.buttons-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.75rem;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
}
.prev-page-btn{
    background-color: #FFFFFF;
    color: #C23934;
    border: #DDDBDA 1px solid;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-family: 'Nunito', sans-serif;
    width: 100px;
    height: 32px;
    margin-right: 1.6rem;
    font-weight:bold;
}
.next-page-btn{
    background-color: #C9C7C5;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-family: 'Nunito', sans-serif;
    width: 100px;
    height: 32px;
    font-weight:bold;
}
button.next-page-btn:active{
    background-color: #D00E2A;
    color: #FFFFFF;
    border: none;
}
button.next-page-btn:enabled{
    background-color: #D00E2A;
    color: #FFFFFF;
    border: none;
}

/* Modal window */


.slds-modal__title.slds-hyphenate{
    /* padding-right: 73%; */
    margin-top: 1.25rem;
    width: 270px;
}
.slds-m-top_x-small{
    /* padding-right: 63%; */
    margin-top: 1.25rem;
    width: 370px;
}
.slds-modal__content.slds-p-around_medium{
    padding-left: 1.9rem;
}


@media (min-width: 320px) and (max-width: 976px) {
    .mobile-title{
        display: block;
        font-family: 'Nunito', sans-serif;
        font-size:2.125rem;
        color: #D00E2A;
        margin-bottom: 3rem;
        /* text-align: start; */
    }
    .code-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: auto;
        /* width: 20.5rem; */
        /* height: 20.25rem; */
        padding: 1.7rem 1.4rem 1.4rem 1.4rem;
    }
    .input-space{
        padding-left: 0.7rem;
        margin-bottom: 1.4rem;
    }
    .code-input{
        width: 2.5rem;
        height: 2.5rem;
        border: #888888 1px solid;
        border-radius: 0.25rem;
        font-size: 1.6rem;
        padding-left: 0.5rem;
        padding-right: 0px;
    }
    .button3{
        width: 9.7rem;
        height: 2rem;
        background-color: #C9C7C5;
        border: none;
        color: #FFFFFF;
        font-weight: 400;
        text-align: center;
        margin-top: 1rem;
    }
    .buttons-container{
        margin-top: 1.6rem;
    }

    /* Modal queries */

    .slds-modal__title.slds-hyphenate{
        margin-right: 0.6rem;
    }
    /* .slds-modal__header{
        width: 296px;
    } */
    .modal-heading-01{
        width: 100%;
    }
    .slds-m-top_x-small{
        margin-right: 0px;
        /* width: 230px; */
        width: 100%;
    }
    .slds-button.slds-button_brand{
        /* margin-right: 80px; */
        width: 107px;
        height: 32px;
    }

    /* .modal{
        width: 340px;
        height: 527px;
        padding: 40px 14px;
    }
    .title{
        font-size: 30px;
        margin-top: 10px
    }
    .x-btn{
        margin-bottom: 100px;
    }
    .body-container{
        margin-top: 40px;
    }
    .buttton-container{
        justify-content: center;
        margin-top: 50px;
    } */
}