/* --- CONVERSION A REM Y VH/VW LISTA --- */
@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
} 
.space{
    width: 0.625rem;
}
.title{
    font-family: 'Nunito', sans-serif;
    color: #333333;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}
[role="combobox"] input[readonly], input[readonly][role="combobox"] {
    margin-left: 0px;
    outline-color: #D00E2A;
}
.father-container{
    display:flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    width:100%;
    /*display:flex;
    justify-content: center;
    width: 1270px;
    height: 706; */
    font-family: 'Nunito', sans-serif;
}
.mobile-title{
    display:none;
}
.form-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* grid-template-columns: 33% 33% 33%; */
    /* padding-right: 474px; */
    /* padding-left: 39px; */
    /* padding-left: 10px; */
    width: 100%;
    /* gap: 48px 48px; */
}
/* .form-container{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-right: 207px;
    gap: 49px 49px;
    font-family: 'Nunito', sans-serif;
    margin-top: 49px;
    /*padding-right: 474px;*/
    /*padding-left: 39px;*/
    /* width: 100%; */
    /*gap: 48px 48px;
}
.form-container2{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-right: 207px;
    gap: 49px 49px;
    font-family: 'Nunito', sans-serif;
    margin-top: 49px;
    /*padding-right: 474px;*/
    /*padding-left: 39px;*/
    /*width: 100%;
    gap: 48px 48px;
} */
.cont_block1{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.asterisk{
    color:#A61A14;
}
.input-title{
    color: #3E3E3C;
    font-family: 'Nunito', sans-serif;
    font-size: 0.75rem;
    display:flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    /* margin: 15% 5% 9px 0; */
    font-weight: 400;
}
.check{
    width: 0.938rem;
    height:0.938rem;
    margin: 0% 3% 0% 5%;
    border-color:#DDDBDA 1px solid;
}
.check-container{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}
.text1{
    margin-left: 0.5rem;
}
.checkbox-text{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin-left: 0;
    color: #333333;
}
.checkbox-text2{
    font-family: 'Nunito', sans-serif;
    font-size: 0.875rem;
    color: #888888;
    margin-left: 0rem;
}
.input-cont{
    width: 220px;

    height: 32px;

    padding-left: 0.5rem;
    margin-right: 3.125rem;
    font-size: 0.875rem;
    font-family: 'Nunito', sans-serif;
    font-weight:normal;
}
.num-label{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333333;
}
.number-input{

    width: 183px;
    height: 32px;
    
    padding-left: 5%;
    margin-left: 0.5rem;
}

input, select{
    border: #DDDBDA 1px solid;
    border-radius: 0.25rem;
    outline-color: #D00E2A;
}
input:after:invalid{
    border: #D00E2A 1px solid;
}
.checkbox-container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*padding: 55px 474px 55px 40px;*/
    font-family: 'Nunito', sans-serif;
    width:100%;
}
.error-message, .error-message2{
    font-size: 0.75rem;
    color: #C23934;
}
.error-message2{
    margin-top: -0.188rem;
}
.last-container{
    display: flex;
    flex-direction: row;
    padding-left: 2.438rem;
    align-items: center;
}
.recaptchaCheckbox{
    margin-right: 3.313rem;
}
.buttons-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 0.75rem;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    /* padding-right: 6.25rem; */
    margin-top: 1rem;
}
.prev-page-btn{
    background-color: #FFFFFF;
    color: #C23934;
    border: #DDDBDA 1px solid;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-family: 'Nunito', sans-serif;
    width: 100px;
    height: 32px;
    margin-right: 1.563rem;
    padding: 1px 16px;
    font-weight:bold;
}
.buttons-container{
    margin-right: 0rem;
    margin-top:2rem;
    display: flex;
    flex-wrap: wrap;
}
.button{
    background-color: #C9C7C5;
    border: none;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.063rem;
    border-radius: 0.25rem;
    /* padding-left: 1%; */
    padding: 1px 16px;
    width: 108px;
    height: 32px;
}
button.button:active {
    border-radius: 0.25rem;
    background-color: #D00E2A;
}
button.button:enabled {
    background-color: #D00E2A;
    border-radius: 0.25rem;
}

@media (min-width:976px) {
    /* .cont_block1{
        height: 13.88vh;
    } */
}
@media (min-width: 607px) and (max-width:975px){
    .father-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width:100%;
    }
    .form-container{
        display:flex;
        grid-template-columns: 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        grid-template-rows: 2.563rem;
    }
    .form-container2{
        display:flex;
        grid-template-columns: 100%;
        width: 100%;
        padding-right: 0rem;
        padding-left: 0rem;
        grid-template-rows: 2.563rem;
        margin-top: 1.25rem;
    }
/* .space{
    width: 0px;
} */
.slds-input, .slds-combobox__input{
    margin-left: 0px;
    outline-color: #D00E2A;
}
    .mobile-title{
        display: block;
        font-family: 'Nunito', sans-serif;
        font-size:2.125rem;
        color: #D00E2A;
        width: 100%;
        line-height: 46px;
        letter-spacing: -1.5px;
        font-weight: 600;
        margin-bottom: 32px;
        /* text-align: start; */
    }
   
    .input-title{
        margin: 0;
        font-weight: 400;
        margin-top: 2rem;
    }
    .gen-input{
        margin-bottom: 0rem;
        margin-top: 0rem;
    }
    .dir-input, .ciu-input{
        margin-bottom: -1.2rem;
    }
    lightning-helptext{
        display: none;
    }
    .check-container{
        margin-top: 0rem;
        /* grid-template-columns: 20% 80%; */
        display: flex;
        flex-wrap: nowrap;
        margin-right: 1.5rem;
    }
    .text1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 56px;
    }
    .checkbox-text,
    .checkbox-text2{
        margin-left: 0rem;
    }
    .checkbox-text2{
        margin-left: 0rem;
    margin-top: -20px;
    }
    .last-container{
        flex-direction: column;
        justify-content: center;
        padding:2.188rem 0rem;
    }
    .buttons-container{
        margin-right: 0.25rem;
        margin-top:40px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 360px) and (max-width:975px) {
    .father-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width:100%;
    }
    .form-container{
        display:flex;
        grid-template-columns: 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        grid-template-rows: 2.563rem;
    }
    .form-container2{
        display:flex;
        grid-template-columns: 100%;
        width: 100%;
        padding-right: 0rem;
        padding-left: 0rem;
        grid-template-rows: 2.563rem;
        margin-top: 1.25rem;
    }
/* .space{
    width: 0px;
} */
[role="combobox"] input[readonly], input[readonly][role="combobox"] {
    margin-left: 0px;
    outline-color: #D00E2A;
}
[role="combobox"] input[readonly]{
    margin-left: 0px;
}
.slds-input, .slds-combobox__input{
    margin-left: 0px;
    outline-color: #D00E2A;
}
    .mobile-title{
        display: block;
        font-family: 'Nunito', sans-serif;
        font-size:2.125rem;
        color: #D00E2A;
        width: 100%;
        line-height: 46px;
        letter-spacing: -1.5px;
        font-weight: 600;
        margin-bottom: 32px;
        /* text-align: start; */
    }
   
    .input-title{
        margin: 0;
        font-weight: 400;
        margin-top: 2rem;
    }
    /* .gen-input{
        margin-bottom: 0rem;
        margin-top: -0.9rem;

    } */
    .dir-input, .ciu-input{
        margin-bottom: -1.2rem;
    }
    lightning-helptext{
        display: none;
    }
    .check-container{
        margin-top: 0rem;
        /* grid-template-columns: 20% 80%; */
        display: flex;
        flex-wrap: nowrap;
        margin-right: 1.5rem;
    }
    .text1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 56px;
    }
    .checkbox-text,
    .checkbox-text2{
        margin-left: 0rem;
    }
    .checkbox-text2{
        margin-left: 0rem;
    margin-top: -20px;
    }
    .last-container{
        flex-direction: column;
        justify-content: center;
        padding:2.188rem 0rem;
    }
    .buttons-container{
        margin-right: 0.25rem;
        margin-top:40px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media (min-width: 360px) and (max-width:480px){
.space{
    width: 0px;
}
}
@media (min-width: 360px) and (max-width:607px){
    .gen-input{
        margin-bottom: 0rem;
        margin-top: -0.9rem;
    }
}
@media (min-width: 320px) and (max-width:360px) {
    .father-container{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width:100%;
    }
    .form-container{
        display:flex;
        grid-template-columns: 100%;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        grid-template-rows: 2.563rem;
    }
    .form-container2{
        display:flex;
        grid-template-columns: 100%;
        width: 100%;
        padding-right: 0rem;
        padding-left: 0rem;
        grid-template-rows: 2.563rem;
        margin-top: 1.25rem;
    }
    .cont_block1{
        flex-direction: column;
    }
    .mobile-title{
        display: block;
        font-family: 'Nunito', sans-serif;
        font-size:2.125rem;
        color: #D00E2A;
        line-height: 46px;
        letter-spacing: -1.5px;
        font-weight: 600;
        margin-bottom: 32px;
        /* text-align: start; */
    }
    .space{
        width: 0px;
    }
    .title{
        width: 280px;
    }
    .input-title{
        margin: 0;
        font-weight: 400;
        margin-top: 2rem;
    }
    .gen-input{
        margin-top: -0.9rem;
        margin-bottom: 0rem;
    }
    .dir-input, .ciu-input{
        margin-bottom: -1.2rem;
    }
    lightning-helptext{
        display: none;
    }
    .check-container{
        margin-top: 0rem;
        /* grid-template-columns: 20% 80%; */
        display: flex;
        flex-wrap: nowrap;
        margin-right: 1.5rem;
    }
    .text1{
        display: flex;
        flex-wrap: wrap;
        margin-top: 56px;
    }
    .checkbox-text,
    .checkbox-text2{
        margin-left: 0rem;
    }
    .last-container{
        flex-direction: column;
        justify-content: center;
        padding:2.188rem 0rem;
    }
    .buttons-container{
        margin-right: 0.25rem;
        margin-top:40px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
    }
}