/* --- CONVERSION A REM Y VH/VW LISTA --- */
@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
}
.page-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
} 
.mobile-title{
  display: none;
}
.subtitle, .subtitle2{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 56px;
}
.subtitle4{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #080707;
}
.buttons-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.75rem;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
  margin-bottom: 1rem;
}
.prev-page-btn{
  background-color: #FFFFFF;
  color: #C23934;
  border: #DDDBDA 1px solid;
  border-radius: 0.25rem;
  font-family: 'Nunito', sans-serif;
  width: 100px;
  height: 32px;
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.next-page-btn{
  border-radius: 0.25rem;
  background-color: #C9C7C5;
  color: #FFFFFF;
  border: none;
  font-family: 'Nunito', sans-serif;
  width: 108px;
  height: 32px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
button.next-page-btn:active{
  border-radius: 0.25rem;
  background-color: #D00E2A;
  color: #FFFFFF;
  border: none;
}
button.next-page-btn:enabled{
  background-color: #D00E2A;
  color: #FFFFFF;
  border-radius: 0.25rem;
  border: none;
}
.form{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}
.input-title{
  color: #3E3E3C;
  font-family: 'Nunito', sans-serif;
  font-size: 0.75rem;
  display:flex;
  flex-direction: row;
  font-weight: 400;
}
.input-btns{
  flex-direction: row;
}
.asterisk{
  color: #A61A14;
}
.input-space{
  width: 220px;
  height: 32px;
  color: #706E6B;
  border: #DDDBDA 1px solid;
  border-radius: 0.25rem;
  padding-left: 0.5%;
  font-family: 'Nunito', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  margin-right: 0.5rem;
  padding: 6px 12px;
  outline: none;
}
.button1{
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  border: #FFFFFF 0px solid;
  /*border-radius: 4px;*/
  width: 42px;
  height: 32px;
  margin-right: 1.5rem;
}
.icon-text{
  display:flex;
  flex-direction: row;
  color: #333333;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;  
  /* padding-bottom: 2rem; */
}
.icon2{
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.error-message{
  font-family: 'Nunito', sans-serif;
  font-size: 0.75rem;
  color: #C23934;
}
.card-img{
  width: 219px;
  height: 331px;
  margin-right: 45px;
}
.infoHelp{
  width: 328px;
  height: 98px;
  border-radius: 4px;
  border:  1px solid #ccc;
  padding: 1rem;
}

.card-section{
  position: relative;
}

.card-owner{
  top: 11em;
  left: 18px;
  position: absolute;
  font-size: 0.938rem;
  color: white;
}

.card-number{
  top: 13em;
  left: 18px;
  position: absolute;
  font-size: 0.875rem;
  color: white;
}
.slds-popover, .slds-popover_tooltip, .slds-rise-from-ground, .slds-nubbin_bottom-right{
  position: absolute;
  top: -235px;
  left: -214px;
  background-color: white;
}
@media (min-width: 975px) and (max-width:1154px) {
  .mobile-title{
   display: none;
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 150px ;
  }
  .infoHelp{
    /* height: 125px; */
    position: absolute;
    margin-top: -12rem;
    margin-left: -10rem;
    font-size: 14px;
    /* width: 280px; */
  }
  .form{
    position: absolute;
    margin-top: -12rem;
    margin-left: -12rem;
  }
  .subtitle2{
    width: 280px;

  }
}
@media (min-width: 845px) and (max-width:975px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 150px ;
  }
  .infoHelp{
    /* height: 125px; */
    position: absolute;
    margin-top: -12rem;
    margin-left: -10rem;
    font-size: 14px;
    /* width: 280px; */
  }
  .form{
    position: absolute;
    margin-top: -12rem;
    margin-left: -12rem;
  }
  .subtitle2{
    width: 280px;

  }
}
@media (min-width: 805px) and (max-width:844px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    padding-bottom: 150px ;
  }
  .infoHelp{
    /* height: 125px; */
    position: absolute;
    margin-top: -12rem;
    margin-left: -10rem;
    font-size: 14px;

  }
  .form{
    position: absolute;
    margin-top: -12rem;
    margin-left: -12rem;
  }
  .subtitle2{
    padding-bottom: 70px;
  }
 
}
@media (min-width: 769px) and (max-width:804px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 150px ;
  }
  .infoHelp{
    /* height: 125px; */
    position: absolute;
    margin-top: -12rem;
    margin-left: -8rem;
    font-size: 14px;
    /* width: 280px; */
  }
  .form{
    position: absolute;
    margin-top: -12rem;
    margin-left: -11rem;
  }
  .subtitle2{
   width: 100%;
padding-bottom: 70px;
  }
}
@media (min-width: 767px)and (max-width:769px)  {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 150px ;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -50rem;
    margin-left: 20rem;
    font-size: 14px;
    /* width: 280px; */
  }
  .form{
    position: absolute;
    margin-top: -34rem;
    margin-left: -0.5rem;
  }
  .subtitle2{
   width: 100%;

  }
}
@media (min-width: 766px) and (max-width:767px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 150px ;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -50rem;
    margin-left: 18.5rem;
    font-size: 14px;
    width: 280px;
  }
  .form{
    position: absolute;
    margin-top: -34rem;
    margin-left: -0.5rem;
  }
  .subtitle2{
   width: 100%;

  }
}
@media (min-width: 647px) and (max-width:766px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 150px ;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -54.5rem;
    margin-left: 18.5rem;
    font-size: 14px;
    width: 280px;
  }
  .form{
    position: absolute;
    margin-top: -34rem;
    margin-left: -0.5rem;
  }
  .subtitle2{
   width: 100%;
   padding-bottom: 70px;
  }
}
@media (min-width: 413px) and (max-width:647px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 300px ;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -69rem;
    /* margin-right: 2rem; */
    margin-left: -1rem;
    font-size: 14px;
    width: 280px;
  }
  .form{
    position: absolute;
    margin-top: -35rem;
    margin-left: -1rem;
  }
  .subtitle2{
    width: 280px;
    padding-bottom: 70px;

  }
}
@media (min-width: 412px) and (max-width:413px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 300px ;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -60rem;
    /* margin-right: 2rem; */
    margin-left: -1rem;
    font-size: 14px;
    width: 280px;
  }
  .form{
    position: absolute;
    margin-top: -33rem;
    margin-left: -1rem;
  }
  .subtitle2{
    width: 280px;
    
  }
}
@media (min-width: 403px) and (max-width:412px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px; */
    padding-bottom: 300px ;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -68rem;
    /* margin-right: 2rem; */
    margin-left: -1rem;
    font-size: 14px;
    width: 280px;
  }
  .form{
    position: absolute;
    margin-top: -34rem;
    margin-left: -1rem;
  }
  .subtitle2{
    width: 280px;
    padding-bottom: 70px;

  }
}
@media (min-width: 381px) and (max-width:403px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    /* width: 280px; */
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    /* width: 280px;*/
     width: 100%;
    padding-bottom: 300px ;
  }
  .infoHelp{
    position: absolute;
    margin-top: -68rem;
    /* margin-right: 2rem; */
    margin-left: -1rem;
    font-size: 14px;
  }
  .form{
    position: absolute;
    margin-top: -35rem;
    margin-left: -0.5rem;
  }
  .subtitle2{
    /* width: 280px; */
    width: 100%;
    padding-bottom: 70px;

  }
}
@media (min-width: 350px) and (max-width:381px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    width: 280px;
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    width: 280px;
    padding-bottom: 350px ;
  }
  .subtitle4{
    /* width: 280px; */
    margin-bottom: 0px;
  }
  .slds-popover, .slds-popover_tooltip, .slds-rise-from-ground, .slds-nubbin_bottom-right{
    position: absolute;
    top: -156px;
    left: -163px;
    width: 270px;
    background-color: white;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -72rem;
    /* margin-right: 2rem; */
    margin-left: -1rem;
    font-size: 14px;
    width: 280px;
  }
  .form{
    position: absolute;
    margin-top: -37.5rem;
    margin-left: -1rem;
  }
  .subtitle2{
    width: 280px;
    padding-bottom: 70px;

  }
}
@media (min-width: 320px) and (max-width:350px) {
  .mobile-title{
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size:2.125rem;
    color: #D00E2A;
    width: 280px;
    line-height: 46px;
    letter-spacing: -1.5px;
    font-weight: 600;
    margin-bottom: 32px;
    /* text-align: start; */
  }
  .subtitle{
    width: 280px;
    padding-bottom: 350px ;
  }
  .subtitle4{
    /* width: 280px; */
    margin-bottom: 0px;
  }
  .slds-popover, .slds-popover_tooltip, .slds-rise-from-ground, .slds-nubbin_bottom-right{
    position: absolute;
    top: -154px;
    left: -163px;
    width: 270px;
    background-color: white;
  }
  .infoHelp{
    height: 125px;
    position: absolute;
    margin-top: -73.9rem;
    margin-left: -1.5rem;
    font-size: 14px;
    width: 280px;
  }
  .form{
    position: absolute;
    margin-top: -37.5rem;
    margin-left: -1rem;
  }
  .subtitle2{
    width: 260px;
    padding-bottom: 70px;
  }
}