/* --- CONVERSION A REM Y VH/VW LISTA --- */

@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
} 
.mobile-title{
    display: none;
}
.first-container{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-container{
    margin-right: 8.375rem;
}
.text-img{
    display: flex;
    flex-direction: row;
    color: #333333;
    margin-bottom: 4rem;
}
.card_img{
    width: 171px;
    height: 272px;
}
.info-container{
    width: 266px;
    margin-left: 2.5rem;
}
.title1{
    font-size: 1rem;
    font-weight: 400;
}
.small-text{
    font-size: 1rem;
    margin-top: -0.5rem;
}
.number{
    margin: 2.5rem 0rem;
    font-size: 2.125rem;
    font-weight: 600;
}
.subtitle{
    margin-top: -0.5rem;
    font-size: 1rem;
    color: #888888;
}
.check-cont{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 3.5rem;
}
input{
    border: #D9DBDD 1px solid;
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
    margin-top: 1rem;
}
.terms{
    width: 453px;
}
.btn1{
    width: 124px;
    height: 32px;
    border: #DDDBDA 1px solid;
    border-radius: 0.25rem;
    color: #C23934;
    background-color: #FFFFFF;
    margin-right: 1.5rem;
    font-weight: 600;
}
.btn2{
    width: 329px;
    height: 32px;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    background-color: #C23934;
    font-weight: 600;
}
.btn2:disabled{
    width: 329px;
    height: 32px;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    background-color: #dddbda;
    font-weight: 600;
}
.doc-container{
    width: 545px;
}
.icons{
    display: flex;
    flex-direction: row;
}
.icon{
    width: 40px;
    height: 40px;
    margin-right: 1.5rem ;
    cursor: pointer;
}
.doc{
    margin-top: 2rem;
}
.txt{
    border-bottom: #D9DBDD 1px solid;
}
@media (min-width: 320px) and (max-width: 976px) {
    .mobile-title{
      display: block;
      color: #D00E2A;
      font-size: 2.125rem;
      font-family: 'Nunito', sans-serif;
      margin-bottom: 1.875rem;
      width: 360px;
      font-weight: 600;
    }
    .first-container{
        display: flex;
        flex-direction: column;
        height: 151.51vh;
    }
    .card-container{
        width: 44.87vw;
    }
    .card_img{
        width: 116px;
        height: 184px;
    }
    .info-container{
        margin-left: 1.5rem;
    }
    .text-img {
        margin-bottom: 2rem;
    }
    .title1{
        margin-top: 0px;
    }
    .number{
        font-size: 1.875rem;
        margin: 1rem 0rem 1.5rem 0rem;
    }
    .small-text{
        font-size: 0.875rem;
        /* margin-top: -8px; */
    }
    .button-cont{
        position: absolute;
        margin-top: 56.25rem;
        width: 360px;
    }
    .btn1{
        width: 84px;
        margin-right: 1rem;
        font-size: 0.75rem;
    }
    .btn2{
        width: 228px;
        font-size: 0.75rem;
    }
    .check-cont{
        position: absolute;
        margin-top: 46.875rem;
        margin-bottom: 2.5rem;
        width: 328px;
    }
    .doc-container{
        width: 328px;
    }
    .icons{
        margin-bottom: 1.5rem;
    }
    
}